.input-container {
    position: relative;
    width: auto;
    font-family: "Roboto", sans-serif;
  }
  
  .input-container input {
    height: 50px;
    width: calc(100% - 50px);
    border-radius: 6px;
    border: 1px solid rgb(190, 190, 190);
    outline: none;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 50px;
  
  }
  
  .input-container.error input {
    border: 1px solid red;
  }
  
  .input-container.error input,
  .input-container.error label {
    color: red;
  }
  
  .input-container label {
    position: absolute;
    top: -25px;
    font-weight: bold;
    font-size: 1.2rem;
  }