.create-button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.171);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: #565ba3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  cursor: pointer;
}
