.wrapper-cover {
    width: 50%;
    overflow: hidden;
    border-radius: 0 8px 8px 0;
}

.wrapper-cover__background {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../../Images/cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


