.booking-calendar {
  display: flex;
  flex-direction: column;
}

.booking-calendar .row {
  display: flex;
  flex-direction: row;

}

.booking-calendar .row .dayOfMonth,
.booking-calendar .row .day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 60px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 20px;
}

.booking-calendar .row .day.today {
    background-color: green;
    color: white;
}

.booking-calendar .row .day.begin {
    background-color: blue;
    color: white;
}


.booking-calendar .row .day.end {
    background-color: red;
    color: white;
}


.booking-calendar .box {
  background-color: red;
  color: white;
  border: 1px solid black;
}

.booking-calendar .apartment {
  grid-auto-flow: column;
}


