.input-number {
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 0.8rem;
}

.input-number input {
  display: block;
  margin-top: 5px;
  height: 20px;
  padding: 1rem;
  border-radius: 12px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.171);
  font-family: "Poppins", sans-serif;
}
