
.reservations-list__wrapper {
  width: 100%;
  padding: 0;
}

.header__tabs {
  margin-top: 50px;
}

.header__tabs ul li {
  list-style: none;
  width: 50%;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.header__tabs ul li.active {
  border-bottom: 2px solid purple;
}


.reservations-list__body-all.hidden {
  display: none;
}

.reservations-list__body-cancelled.hidden {
  display: none;
}

