.modal-header {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.header__title {
  margin: 20px;
}

.header__title span:first-child {
  font-size: 1rem;
}

.header__title span:nth-child(2) {
  display: block;
  font-size: 0.8rem;
}

.header__options {
  position: absolute;
  right: 0;
  top: 0;
}

.header__options ul {
  display: flex;
}

.header__options .icon-container {
  color: grey;
  cursor: pointer;
}

.header__options ul li {
  list-style: none;
  margin-right: 20px;
}

.header__options ul li.options__delete .icon-container {
  color: red;
}

.header__options ul li.options__save span {
  display: flex;
  background-color: #6d71f9;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  align-items: center;
  padding: 2px 10px;
}

.header__options ul li.options__save .icon-container {
  color: white;
  margin-left: 10px;
}

.header__tabs {
  margin-top: 20px;
}

.header__tabs ul li {
  list-style: none;
  width: 50%;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.header__tabs ul li.active {
  border-bottom: 2px solid purple;
}
