.information-card__icon {
  height: 65px;
  width: 65px;
  border-radius: 8px;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: white;
}
